<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h2><a href="/homepage">Our Wonderful App</a></h2>
        <nav>
            <a href="/login">Log In</a>
        </nav>
    </header>
    
    <main>
        <h3>Log in Page</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet voluptatibus pariatur doloribus qui, ducimus sequi facere autem doloremque? Reprehenderit eum ex pariatur porro? Iure laboriosam fugit, tenetur neque repellat quia!</p>
    </main>

    <footer>
        <small>&copy; Our Wonderful App</small>
    </footer>
</body>
</html>